.container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    background: grey;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 1rem;
}
.formulaire{
    margin-bottom: 1rem;
    border: none;
}
.formulaire input{
    width: 200px;
    height: 30px;
    outline: none;
    padding: 0.5rem;
}
.formulaire button{
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.video-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.video-card{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.video-card img{
    width: 350px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 350px;
    background: white;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
}
.video{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 580px){
    .video-list{
        justify-content: center;
        margin-top: 1rem;
    }
    .video-card{
        width: 350px;
    }
    .video-card img{
        width: 350px;
    }
    .description{
        width: 350px;
    }
    .title{
        font-size: 18px;
    }
    .formulaire input{
        width: 180px;
    }
    .formulaire button{
        width: 80px;
    }
}