.container{
    max-width: 100%;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 1rem;
    color:rgb(251, 4, 4);
    text-shadow: rgb(176, 169, 169) 1px 0 10px;
    letter-spacing: 2px;
}
.formulaire{
    margin-bottom: 1rem;
}
.formulaire input{
    width: 200px;
    height: 30px;
    outline: none;
   border-radius: 15px;
    margin-right: 1rem;
    border: 1px solid red;
    padding: 0.5rem;
}
.formulaire button{
    border-radius: 15px;
    border: 1px solid red;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.formulaire button:hover{
    background: red;
}
.video-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.video-card{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.video-card:hover{
    transform: scale(1.05);
}
.video-card img{
    width: 350px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 350px;
    height: 50px;
    background: white;
    padding: 0.5rem;
    white-space: nowrap; 
    overflow: hidden; 
    border-radius: 0 0 5px 5px;
    text-overflow: ellipsis;
}
.video iframe{
    background-color: black;
    display: flex;
    justify-content: center;
    border: 0px ;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

.player{
    border-radius: 20px !important;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 15px;
}

@media (max-width: 1500px){
    .video-list{
        justify-content: center;
        margin-top: 1rem;
    }
    .video-card{
        width: 300px;
    }
    .video-card img{
        width: 300px;
    }
    .description{
        width: 300px;
    }
    .title{
        font-size: 18px;
    }
    .formulaire input{
        width: 180px;
    }
    .formulaire button{
        width: 80px;
    }
    .video{
        width: 900px;
    }
    .video iframe{
        width: 900px;
        height: 400px;
    }
}


@media (max-width: 950px){
    .video-list{
        justify-content: center;
        margin-top: 1rem;
    }
    .video-card{
        width: 300px;
    }
    .video-card img{
        width: 300px;
    }
    .description{
        width: 300px;
    }
    .title{
        font-size: 18px;
    }
    .formulaire input{
        width: 180px;
    }
    .formulaire button{
        width: 80px;
    }
    .video{
        width: 800px;
    }
    .video iframe{
        width: 800px;
        height: 400px;
    }
}

@media (max-width: 850px){
    .video-list{
        justify-content: center;
        margin-top: 1rem;
    }
    .video-card{
        width: 300px;
    }
    .video-card img{
        width: 300px;
    }
    .description{
        width: 300px;
    }
    .title{
        font-size: 18px;
    }
    .formulaire input{
        width: 180px;
    }
    .formulaire button{
        width: 80px;
    }
    .video{
        width: 380px;
    }
    .video iframe{
        width: 800px;
        height: 400px;
    }
}

@media (max-width: 580px){
    .video-list{
        justify-content: center;
        margin-top: 1rem;
    }
    .video-card{
        width: 300px;
    }
    .video-card img{
        width: 300px;
    }
    .description{
        width: 300px;
    }
    .title{
        font-size: 18px;
    }
    .formulaire input{
        width: 180px;
    }
    .formulaire button{
        width: 80px;
    }
    .video{
        width: 350px;
    }
    .video iframe{
        width: 350px;
        height: 300px;
    }
}